# Logs
*.log*

node_modules
.pnp*
dist*
*.local
.env
bun.lockb

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*lock*
data/

*.timestamp-*